In [1]:
import numpy as np
import pandas as pd

1. Есть список a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]. Выведите все элементы, которые меньше 5.

In [8]:
a = np.array([1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89])
print(f"Все элементы, которые меньше 5: {a[a < 5]}")

Все элементы, которые меньше 5: [1 1 2 3]

2. Даны списки:

a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89];

b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13].

Нужно вернуть список, который состоит из элементов, общих для этих двух списков.

In [9]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
np.intersect1d(a, b)

array([ 1,  2,  3,  5,  8, 13])

3. Сделайте так, чтобы число секунд = 1234565    отображалось в виде дни: часы: минуты: секунды.

In [61]:
from datetime import timedelta
sec = 1234565
date = str(timedelta(seconds=sec)).replace(":", " ").replace(",", "").split()
print(f"Число секунд {sec} при переводе в дни/часы/минуты/секунды равно\
 {date[0]} дней {date[2]} часов {date[3]} минут {date[4]} секунд")

Число секунд 1234565 при переводе в дни/часы/минуты/секунды равно 14 дней 6 часов 56 минут 05 секунд

4. Вы принимаете от пользователя последовательность чисел, разделённых запятой. Составьте список и кортеж с этими числами.

In [78]:
a = input("Введите последовательность чисел, разделённых запятой: ").replace(",", " ").split()
print(f"Список с данными числами: {list(map(int, a))}")
print(f"Кортеж с данными числами: {tuple(map(int, a))}")

Введите последовательность чисел, разделённых запятой: 213, 123, 12334
Список с данными числами: [213, 123, 12334]
Кортеж с данными числами: (213, 123, 12334)

5. Выведите первый и последний элемент списка.

In [89]:
a = list(range(1, 20, 3)) #задан какой-то список
print(f"Первый элемент списка: {a.pop(0)}, последний элемент списка: {a.pop()}")

Первый элемент списка: 1, последний элемент списка: 19

6. Сложите цифры целого числа.

In [106]:
number = "21123" #задано целое число
s = sum(map(int, list(number.replace("-","")))) #учитываем, что целое число может быть отрицтальным, избавляемся от "-"
print(f"Сумма цифр целого числа: {s}")

Сумма цифр целого числа: 9

7. Напишите программу, которая принимает текст и выводит два слова: наиболее часто встречающееся и самое длинное.

In [377]:
from collections import Counter

def my_func(a):
    print(f"На вход было получено следующее предложение: \n'{a}'")
    signs = [":", ",", ";", ".", "?", "...", "!"] #уберем мешающие нам знаки разделения в предложении
    for char in signs:
        a = a.replace(char, " ")
    a = a.lower().split() #приведем всю строку к нижнему регистру, так как слова могут начинать с большой буквы
    longest = max(list(map(lambda x: (len(x), x), a))) # находим самое длинное слово
    common = max(Counter(a).items(), key = lambda x: x[1]) # находим наиболее часто встречающееся слово
    print(f"Наиболее часто встречающееся слово - '{common[0]}', оно встретилось {common[1]} раз(а).")
    print(f"Самое длинное слово - '{longest[1]}', его длина - {longest[0]} букв.")

In [378]:
a = "Напишите программу, которая принимает текст и выводит два слова: наиболее часто встречающееся и самое длинное."
my_func(a)

На вход было получено следующее предложение:
'Напишите программу, которая принимает текст и выводит два слова: наиболее часто встречающееся и самое длинное.'
Наиболее часто встречающееся слово - 'и', оно встретилось 2 раз(а).
Самое длинное слово - 'встречающееся', его длина - 13 букв.

In [379]:
my_func(input("Введите предложение: "))

Введите предложение: И день добрый, и погода хорошая!
На вход было получено следующее предложение:
'И день добрый, и погода хорошая!'
Наиболее часто встречающееся слово - 'и', оно встретилось 2 раз(а).
Самое длинное слово - 'хорошая', его длина - 7 букв.

8. Переименовать 1-ый столбец - price, добавить новый столбец (без $)

In [250]:
df = pd.DataFrame({'X5XX' : ["200$", "150$", "7000$", "110$"]})
df

    X5XX
0   200$
1   150$
2  7000$
3   110$

In [267]:
df.columns = ["price"]
df["price($)"] = df["price"].str.replace("$", "")
df

   price price($)
0   200$      200
1   150$      150
2  7000$     7000
3   110$      110

9. Строковый признак type превратить в его бинарный признак, результат – в новый столбец type_v1.

In [274]:
df = pd.DataFrame({"type": ["A", "B", "A", "A", "A"]})
df["type_v1"] = (df.type == "A") * 1
df

  type  type_v1
0    A        1
1    B        0
2    A        1
3    A        1
4    A        1

10. Надо расщепить столбец А/В на два.

In [271]:
df = pd.DataFrame({"feature": [0.0] * 5, "A/B": ["23/60", "65/76", "66/53", "57/53", "85/18"]})
df[["A_v1", "B_v1"]] = df["A/B"].str.split("/", expand = True)
df

   feature    A/B A_v1 B_v1
0      0.0  23/60   23   60
1      0.0  65/76   65   76
2      0.0  66/53   66   53
3      0.0  57/53   57   53
4      0.0  85/18   85   18

11. Заполните один кортеж десятью случайными целыми числами от 0 до 5 включительно.
Также заполните второй кортеж числами от -5  до 0. Объедините два кортежа с помощью оператора +, создав тем самым третий кортеж. С помощью метода кортежа count()  определите в нем количество
нулей. Выведите на экран третий кортеж и количество нулей в нем.

In [339]:
a = tuple(np.random.randint(0,6,10))
b = tuple(np.random.randint(-5, 1, 10))
print(f"Третий кортеж (объединение первого и второго): {a + b}")
print(f"В третьем кортеже всего {(a + b).count(0)} нуля(ей).")

Третий кортеж (объединение первого и второго): (2, 0, 3, 3, 3, 4, 2, 1, 5, 0, -4, -5, -4, -4, -1, 0, -5, -2, -4, -1)
В третьем кортеже всего 3 нуля(ей).

12. Создайте словарь, связав его с переменной school, и наполните данными, которые бы отражали количество учащихся в разных классах (1а, 1б, 2б, 6а, 7в, и т.п.). Внесите изменения в словарь согласно следующему:

а) в одном из классов изменилось количество учащихся

б) в школе появился новый класс

в) в школе был расформирован (удален) другой класс

Вычислите общее количество учащихся в новой школе.

In [358]:
school = {"1a": 30, "1b": 28, "2b": 21, "6a": 54, "7b": 34} # заносим данные
school

{'1a': 30, '1b': 28, '2b': 21, '6a': 54, '7b': 34}

In [359]:
# пусть в классе 6a изменилось количество учащихся (отчислили 19 человек)
school["6a"] -= 19
school

{'1a': 30, '1b': 28, '2b': 21, '6a': 35, '7b': 34}

In [360]:
# пусть в школе появился новый 11a класс, численностью 32 человека
school["11a"] = 32
school

{'1a': 30, '1b': 28, '2b': 21, '6a': 35, '7b': 34, '11a': 32}

In [361]:
# пусть в школе был расформирован 2b класс
school.pop("2b")
school

{'1a': 30, '1b': 28, '6a': 35, '7b': 34, '11a': 32}